@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #f4f4f4; /* or #f9f9f9 or f1f1f1*/
		--foreground: #101415;

		--card: #ffffff;
		--card-foreground: #090909;

		--popover: #ffffff;
		--popover-foreground: #090909;

		--primary: #f53838;
		--primary-foreground: #ffffff;

		--secondary: #f57d7e;
		--secondary-foreground: #090909;

		--muted: #f5f5f5;
		--muted-foreground: #737373;

		--red-color: #ed6a5e;
		--orange-color: #f6be4f;
		--green-color: #62c554;

		--accent: #f5f5f5;
		--accent-foreground: #171717;

		--destructive: #f37055;
		--destructive-foreground: #fcfcfc;

		--border: #e5e5e5;
		--input: #e5e5e5;
		--ring: #090909;

		--radius: 0.5rem;
	}

	.dark {
		--background: #181818; /* or #181818 or #101415 */
		--foreground: #f4f4f4;

		--card: #090909;
		--card-foreground: #fcfcfc;

		--popover: #090909;
		--popover-foreground: #fcfcfc;

		--primary: #f53838;
		--primary-foreground: #171717;

		--secondary: #f57d7e;
		--secondary-foreground: #fcfcfc;

		--muted: #262626;
		--muted-foreground: #a3a3a3;

		--accent: #262626;
		--accent-foreground: #fcfcfc;

		--destructive: #4d1a1f;
		--destructive-foreground: #fcfcfc;

		--border: #262626;
		--input: #262626;
		--ring: #d5d5d5;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
